@model  IEnumerable<RssItemViewModel>
@{
    ViewData["Title"] = "Anasayfa";
}

<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            @foreach (var item in Model)
            {
                <a asp-area="" asp-controller="Home" asp-action="Create"
                   asp-all-route-data="@(new Dictionary<string, string> {["url"]=item.Link })"
                   class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="Sınav Oluşturmak için tıkla">
                    @item.Title
                    <span class="">
                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                    </span>
                </a>
            }
        </div>
    </div>
</div>



